.page-container {
 display: flex;
 flex-direction: column;
 height: 100vh;
}

.upper-div {
 flex: 1;
 width: 80%;
 align-self: center;
 justify-content: center;
 margin-bottom: 20px;
}

.lower-div {
 flex: 10;

 width: 80%;
 align-self: center;
 justify-content: center;
}
.habitTableCell{
 
   background-color: red;
   max-width: 200px;

}
.habitTableCell-lower{
 

    height: 100%;
    background-color: gray;
}
.row-name{
  text-overflow: clip;
  overflow: hidden;
  background-color: green;
}