
.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
   }
.profile-div{
    flex: 1;
    align-self: center;
    justify-content: center;
    background-color: pink;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.total-div{
    flex: 4;
    align-self: center;
    background-color: blue;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}
.tendays-div{
    flex: 4;
    align-self: center;
    background-color: green;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;

   
}
.total-lower-div{

    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 80%;
    height: 80%;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10%;
    display: flex;
    
}
.total-lower-div p{
    font-style: bold;
    font-size: 30px;
    text-align: center;
    
   

}
.tendays-lower-div{
    text-align: center;
}
.tendays-upper{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 300px;
    width: 30px;
    background-color: yellow;
    
    margin-left: 5px;
    overflow-x: hidden;
   overflow-y: auto;
 
}
.tendays-lower{
    display: flex;
    flex: 5;

    width: 80%;
    height: 80%;
}

.tendays-lower-div{
    align-self: center;
    justify-content: center;
    background-color: yellow;
    width: 80%;
    height: 80%;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10%;
    display: flex;
}
.dates{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
    

}
.dateElement{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    
    border-radius: 5%;
}
.ustdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pnin{
    /* background-color: blueviolet; */
    
    margin: 2px;
    padding: 15px;
    border-radius: 5%;
    transition: background-color 0.3s;
}
.pnin:hover{
    background-color: red;
}
.pnin:focus{
    outline: 4px solid red; 
}


.simple {
    border-radius: 25%;
   
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
