* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    /* margin-bottom: 20px; */
    background: #76323F;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
  }
  
  .container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .navbar-logo {
    color: #D7CEC7;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
 
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
  }
  
  .nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
  }
  
  .nav-item:hover {
    border-bottom: 2px solid #D7CEC7;
  }

  .nav-links {
    color: #D7CEC7;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .activated {
    color: #C09F80;
  }
  

 
  .navbar-button{
        margin-right: 20px;
        height: 40px;
        width: 120px;
        border-radius: 1rem;
        border: 1px solid grey;
        background-color: #D7CEC7;
        font-weight: bold;
        color:#76323F;
        font-size: 14px;
        
    }

    .navbar-button:hover{
      font-size: 16px;
        
    }
    .navbar-button:after{
      color:#76323F;
     
      transition: 0.5s;
    }
   