.authenticate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    margin: 150px 50px 0px 50px;
  }
  
  
  .auth__right {
    flex: 0.5;
    
  }
  
 
  
  .auth__more {
    border: 5px solid #76323F;
    border-radius: 3rem;
    padding: 20px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 13px;
    text-align: center;
  }


  
  .auth__more > span {
    font-weight: 500;
    font-size: 14px;
  }
  
  .auth__more > span > button {
    background: 0;
    border: 0;
    font-weight: bolder;
    font-size: 16px;
    color: #76323F;
  }
  
  .auth__more > span > button:hover {
    cursor: pointer;
  }

  p{
    font-weight: bolder;
    font-size: 16px;
  }

 